.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

blog-posts/2023-12-01-houston-outages/data/
blog-posts/2023-12-06-ca-land-class/data/
blog-posts/2023-12-10-permafrost-black-carbon/data/