/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors
$dark-green: #293025;
$light-green: #8B8960;
$cream: #FDFBF7;
$gray: #D1CFD6;
$pink: #ae155c;
$orange: #ad7237;

// Base document colors
$navbar-bg: $dark-green; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $light-green; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $dark-green; // page text 
$footer-bg: $light-green; // footer 
$link-color: $pink; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $pink; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color


/*-- scss:rules --*/

.navbar-brand img { 
  max-height: 60px;
  width: auto;
}