/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors
$dark-green: #293025;
$light-green: #8B8960;
$cream: #FDFBF7;
$gray: #D1CFD6;
$pink: #614051;
$red: #ff4b3e;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $red; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $dark-green; // page text 
$footer-bg: $light-green; // footer 
$link-color: $pink; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $pink; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color


/*-- scss:rules --*/

/* ELEMENT SELECTORS */

h1, h2, h4, h5, h6 {
  letter-spacing: 3px;
  font-weight: 700;
  color: $dark-green;
}

h3 {
  font-size: 35px;
}

h5 {
  color: $dark-green;
}

body {
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 19.5px;
}

/* ID selectors */

// responsive-ish iframes (width adjusts to viewport size; couldn't figure out how to expand viewport height, so set to this size for now)
#map-size {
  width: 100%;
  height: 350px;
}

.figure-caption {
  color: $gray;
  font-style: italic;
}

/* CLASS SELECTORS (self-defined) */

// subtitles used with trestles template (currently using jolla)
/*.custom-subtitle {
  font-size: 22px;
  margin-bottom: 0.15em;
}

.custom-subtitle2 {
  font-size: 20px;
  font-style: italic;
}*/

// larger text
.large-text {
  font-size: 25px;
}

// slightly smaller than default text
.small-text {
  font-size: 17px;
}

// smallest text
.extra-small-text{
  font-size: 14px;  
}

// extra space above line of text (but not as much as <br>)
.topbr {
    display: block;
    margin-top: 1em;
}

// center align text
.center-text {
  text-align: center;
  left: 50%;
}

// dark gray text
.dark-gray-text{
  color: $dark-green;
}

// gray-italic text (mostly used for captions)
.gray-italic {
  color: $gray;
  font-style: italic;
  font-size: 17px;
}

// gray background
.quote-text-bg {
  background-color: rgba(152, 160, 141, 0.3); //rgba(166, 164, 161, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 15px;
}

// btn styling
.btn {
  color: $dark-green;
  background-color: $dark-green; //$light-green;
  border-color: $cream;
}

// button hover styling
.btn:hover {
  color: $pink;
  background-color: $pink;
  border-color: $pink;
}

// image styling
.img-styling {
  border-radius: 2%;
  border: 2px solid $gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
 //width: 80%;
}

// center image only
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 60px;
  width: auto;
}

// headshot shape
.rounded { 
    border-radius: 50px 20px 50px 20px !important;
}

// button text size (landing page)
.about-link-text { 
  font-size: 18px;
}

// button icon size (landing page)
.bi { 
  font-size: 18px;
}

// dropdown navbar text color
.dropdown-item{
  color: $dark-green;
  background-color: $cream;
}

// listing card styling
.card {
  background-color: $cream;
  //border-radius: 5.25em;
}

// listing description text styling
.description {
  font-size: 25px;
}

// about page link button colors 
div.quarto-about-jolla .about-link {
  color: $dark-green;
}

.navbar-brand img { 
  max-height: 60px;
  width: auto;
}