/*-- scss:defaults --*/

// Colors
$dark-green: #293025;
$light-green: #8B8960;
$cream: #FDFBF7;
$gray: #D1CFD6;
$pink: #ae155c;
$orange: #ad7237;
$orchid: #AF4D8B;
$green: #688235;
$light-blue: #7DA8CC;
$dark-blue: #405B7F;
$charcoal: #263543;
$white: #FFFFFF; 

// other variables omitted for brevity ~

/*-- scss:rules --*/

h1, h2 {
  letter-spacing: 5px;
  color: $dark-green;
}

.title {
  color: $dark-green;
}

.center-text {
  text-align: center;
}

.orange-text {
  color: $orange;
}